<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>

    <key>CFBundleExecutable</key>
    <string>Cydia</string>

    <key>CFBundleIdentifier</key>
    <string>com.saurik.Cydia</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundleName</key>
    <string>Cydia</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleShortVersionString</key>
    <string>0.9</string>

    <key>CFBundleSignature</key>
    <string>????</string>

    <key>CFBundleVersion</key>
    <string>0.9</string>

    <key>SBUsesNetwork</key>
    <integer>11</integer>

    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>Cydia Internal URL</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>cydia</string>
            </array>
        </dict>
    </array>

    <key>DTSDKName</key>
    <string>iphoneos2.0.saurik</string>

    <key>MinimumOSVersion</key>
    <string>2.0</string>

    <key>UIDeviceFamily</key>
    <array>
        <integer>1</integer>
        <integer>2</integer>
    </array>

    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>

    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>

    <key>CFBundleIconFile</key>
    <string>iconClassic.png</string>

    <key>CFBundleIconFiles</key>
    <array>
        <string>icon.png</string>
        <string>icon-72.png</string>
        <string>icon@2x.png</string>
        <string>Icon-Small.png</string>
        <string>Icon-Small-50.png</string>
        <string>Icon-Small@2x.png</string>
    </array>


    <!-- to ye who is reading this, I know what you are thinking: "saurik is an idiot, why did he turn this off?" -->
    <!-- the problem is that Cydia runs as root, and therefore cannot be sent a SIGSTOP by SpringBoard, as mobile -->
    <!-- what that means, is that when Cydia "multitasks" it will just keep running in the background, constantly -->
    <!-- and that means that all of those stupid webpages (and all of their horribly irritatingly slow ads!) will -->
    <!-- just keep running and animating and reloading in the background, burning your battery life and cpu speed -->
    <!-- even when you aren't "using" the app anymore. so, no: it is not at all a good idea to turn this back on. -->
    <!-- the idea is that, eventually, Cydia will no longer need to run as root; and, when that happens, not just -->
    <!-- this, but a ton of other little things (mail composition, keyboard behaviors, mobilesubstrate, etc.) all -->
    <!-- will get fixed at the same time, and one of those wonderous new features will be "working multitasking". -->

    <!--key>UIBackgroundModes</key>
    <array>
        <string>audio</string>
        <string>continuous</string>
    </array-->

    <key>UIApplicationExitsOnSuspend</key>
    <true/>
</dict>

</plist>
