<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
    <key>Hunspell Dictionaries</key>
    <dict>
        <key>Rename</key>
        <string>Dictionaries (Hunspell)</string>
    </dict>

    <key>Utility</key>
    <dict>
        <key>Rename</key>
        <string>Utilities</string>
    </dict>

    <key>Themes (Springboard)</key>
    <dict>
        <key>Rename</key>
        <string>Themes (SpringBoard)</string>
    </dict>

    <key>Themes (SummerBoard)</key>
    <dict>
        <key>Rename</key>
        <string>Themes (SpringBoard)</string>
    </dict>
    
    <key>Themes (Systen)</key>
    <dict>
        <key>Rename</key>
        <string>Themes (System)</string>
    </dict>

    <key>Intelliborn</key>
    <dict>
        <key>Rename</key>
        <string>Utilities</string>
    </dict>

    <key>SMS</key>
    <dict>
        <key>Rename</key>
        <string>Messaging</string>
    </dict>

    <key>CarrierBundle</key>
    <dict>
        <key>Rename</key>
        <string>Carrier Bundles</string>
    </dict>

    <key>Messages</key>
    <dict>
        <key>Rename</key>
        <string>Messaging</string>
    </dict>

    <key>Themes (Locksceen)</key>
    <dict>
        <key>Rename</key>
        <string>Themes (LockScreen)</string>
    </dict>

    <key>Themes (Lockscree)</key>
    <dict>
        <key>Rename</key>
        <string>Themes (LockScreen)</string>
    </dict>

    <key>Themes (Losckscreen)</key>
    <dict>
        <key>Rename</key>
        <string>Themes (LockScreen)</string>
    </dict>

    <key>Themes (Video)</key>
    <dict>
        <key>Rename</key>
        <string>Themes (Videos)</string>
    </dict>

    <key>Utilites</key>
    <dict>
        <key>Rename</key>
        <string>Utilities</string>
    </dict>

    <key>Themes (Lockscreen)</key>
    <dict>
        <key>Rename</key>
        <string>Themes (LockScreen)</string>
    </dict>

    <key>Themes (Complet)</key>
    <dict>
        <key>Rename</key>
        <string>Themes (Complete)</string>
    </dict>
    
    <key>Themes (Widgets)</key>
    <dict>
        <key>Rename</key>
        <string>Themes (Addons)</string>
    </dict>

    <key>Wallpapers</key>
    <dict>
        <key>Rename</key>
        <string>Wallpaper</string>
    </dict>

    <key>Messageing</key>
    <dict>
        <key>Rename</key>
        <string>Messaging</string>
    </dict>

    <key>Network</key>
    <dict>
        <key>Rename</key>
        <string>Networking</string>
    </dict>
    
    <key>Ringtone</key>
    <dict>
        <key>Rename</key>
        <string>Ringtones</string>
    </dict>

    <key>Tweak</key>
    <dict>
        <key>Rename</key>
        <string>Tweaks</string>
    </dict>

    <key>Tweaks 2.0</key>
    <dict>
        <key>Rename</key>
        <string>Tweaks (2.0)</string>
    </dict>

    <key>Tweaks 2.1</key>
    <dict>
        <key>Rename</key>
        <string>Tweaks (2.1)</string>
    </dict>

    <key>Tweaks 2.2</key>
    <dict>
        <key>Rename</key>
        <string>Tweaks (2.2)</string>
    </dict>

    <key>Tweaks 3.0</key>
    <dict>
        <key>Rename</key>
        <string>Tweaks (3.0)</string>
    </dict>
    
    <key>SBSettings Addons</key>
    <dict>
        <key>Rename</key>
        <string>Addons (SBSettings)</string>
    </dict>
    
    <key>LockInfo Addons</key>
    <dict>
        <key>Rename</key>
        <string>Addons (LockInfo)</string>
    </dict>
    
    <key>App Addons</key>
    <dict>
        <key>Rename</key>
        <string>Addons</string>
    </dict>
    
    <key>App Addons (Iconoclasm)</key>
    <dict>
        <key>Rename</key>
        <string>Addons (Iconoclasm)</string>
    </dict>
    
    <key>BossPaper Addons</key>
    <dict>
        <key>Rename</key>
        <string>Addons (BossPaper)</string>
    </dict>
    
    <key>Lockinfo Addons</key>
    <dict>
        <key>Rename</key>
        <string>Addons (LockInfo)</string>
    </dict>

    <key>Dictionaries (Hunspell)</key>
    <dict>
        <key>Rename</key>
        <string>Dictionaries</string>
    </dict>

    <key>eBooks</key>
    <dict>
        <key>Rename</key>
        <string>Books</string>
    </dict>

    <key>Themes (WinterBoard)</key>
    <dict>
        <key>Rename</key>
        <string>Themes</string>
    </dict>

    <key>Themes (Weather)</key>
    <dict>
        <key>Rename</key>
        <string>Themes (Apps)</string>
    </dict>

    <key>Themes (Videos)</key>
    <dict>
        <key>Rename</key>
        <string>Themes (Apps)</string>
    </dict>

    <key>Themes (SMS)</key>
    <dict>
        <key>Rename</key>
        <string>Themes (Apps)</string>
    </dict>

    <key>Themes (iPad)</key>
    <dict>
        <key>Rename</key>
        <string>Themes</string>
    </dict>

    <key>Themes (Dock)</key>
    <dict>
        <key>Rename</key>
        <string>Themes (SpringBoard)</string>
    </dict>

    <key>Themes (Icy)</key>
    <dict>
        <key>Rename</key>
        <string>Themes (Apps)</string>
    </dict>

    <key>Themes (Dialer)</key>
    <dict>
        <key>Rename</key>
        <string>Themes (Apps)</string>
    </dict>

    <key>Themes (Battery)</key>
    <dict>
        <key>Rename</key>
        <string>Themes (LockScreen)</string>
    </dict>

    <key>Themes (SYSTEM)</key>
    <dict>
        <key>Rename</key>
        <string>Themes (System)</string>
    </dict>

    <key>WebApps</key>
    <dict>
        <key>Rename</key>
        <string>Site-Specific Apps</string>
    </dict>

    <key>FontSwap</key>
    <dict>
        <key>Rename</key>
        <string>Addons (FontSwap)</string>
    </dict>

    <key>Cydgets (Lock)</key>
    <dict>
        <key>Rename</key>
        <string>Addons (Cydget)</string>
    </dict>
</dict>

</plist>
