<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
    <key>Themes_(Springboard)</key>
    <dict>
        <key>Rename</key>
        <string>Themes_(SpringBoard)</string>
    </dict>

    <key>Themes_(SummerBoard)</key>
    <dict>
        <key>Rename</key>
        <string>Themes_(SpringBoard)</string>
    </dict>

    <key>Intelliborn</key>
    <dict>
        <key>Rename</key>
        <string>Utilities</string>
    </dict>

    <key>SMS</key>
    <dict>
        <key>Rename</key>
        <string>Messaging</string>
    </dict>

    <key>CarrierBundle</key>
    <dict>
        <key>Rename</key>
        <string>Carrier_Bundles</string>
    </dict>

    <key>Network</key>
    <dict>
        <key>Rename</key>
        <string>Networking</string>
    </dict>
</dict>

</plist>
